.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
*.Rproj
RcppTskit/cran-comments.html
RcppTskit/cran-comments_files/
RcppTskit/**/.quarto/
RcppTskit/inst/doc
RcppTskit/src/*.o
RcppTskit/src/tskit/*.o
RcppTskit/src/*.so
RcppTskit/src/*.dll*
RcppTskit/src/Makevars
RcppTskit/src/Makevars.win
RcppTskit/vignettes/*.html
RcppTskit/vignettes/*.R
RcppTskit/vignettes/*_files/
README.html
README_files/
test.trees
