on:
  push:
    branches: [main, devel]
  pull_request:

name: pre-commit.yaml

permissions: read-all

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install Rcpp
        run: Rscript -e 'install.packages("Rcpp")'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --yes clang-format clang-tidy

      - name: Install Air
        uses: posit-dev/setup-air@v1

      - name: Install Jarl
        run: |
          curl --proto '=https' --tlsv1.2 -LsSf \
            https://github.com/etiennebacher/jarl/releases/latest/download/jarl-installer.sh | sh
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --show-diff-on-failure
